@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background-color: #5E2E53;  
}
main{
  height: 100%;
}
@keyframes fade-in{
  from {
    opacity: 0;
    transform: translate(-50) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
.buttonAnimation{
  animation-name: fade-in;
  animation-duration: 1.5s;
}


/*Mine hoved farver til mit tema*/
/*#EAEAEA
  #5E2E53 
  #E1A1E9
  #000000 
*/


/*mine tekst slags*/
/*
 Ubuntu
 og i logoet: Roboto, Racing Sans One
*/
/*
Skriftstørrelser: 18, 24, 36 
*/